/*reset css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}

ul, ol {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content:'';
  content:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/*Body*/
* {
  box-sizing:content-box;
}
body {
  line-height:1;
  font-family:'Realeway', Verdana, sans-serif;
  margin:0 auto;
  height:2273px;
  text-decoration:none;
}

.width {
  width:1044px;
  position:relative;
  margin-right:auto;
  margin-left:auto;
}
/*new parametrs to web*/sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only half as far down as the superscript moved up */
  bottom: -0.25em;
}
sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only half as far down as the superscript moved up */
  bottom: -0.25em;
}
/*header*/
header {
  text-transform: uppercase;
  text-decoration:none;
  /*height:40px;*/
  height:70px;
  width:100%;
  font-size:14px;
  color:#ffffff;
  background-color:#000000;
}

.part_header{
  font-size:22px;
  color:#000000;
  width:320px;
  line-height:2;
  border-bottom:8px solid #24baa0;
  margin-bottom: -50px;
  margin-top: 100px;
}

.span_green {
  color:#27c7ab;
  font:bold;
}

.strong{
  font-weight:bold;
}

.logo {
  display:inline-block;
  float:left;
}

/*menu*/
.menu {
  display:inline-block;
  float:right;
}

.menu > li {
  float:left;
}
.menu > li > ul > li {
  position: relative;
}

header li {
    list-style-type: none;
}

header a {
  text-decoration:none;
  font-size:14px;
  color:#ffffff;
}

header .submenu a {
  text-transform: none;
}

.submenu {background:#000000;}

/*article*/
article {
  width:100%;
}

.top_gradient {
  height:535px;
  background: rgba(250,250,250,1);
  background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(48%, rgba(250,250,250,1)), color-stop(100%, rgba(202,202,210,1)));
  background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
  background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
  background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
  background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cacad2', GradientType=0 );
}

.text_left {
  vertical-align:center;
  float:left;
  padding-left:4%;
  width:30%;
  display: inline-block;
  margin-top:106px;
}

h1 {
  font-size:40px;
  padding:2px 0 20px 0;
}
.span_green2 {
  color:#27c7ab;
  font-weight:bold;
}

.text_right {
  display:inline-block;
  text-align:center;
  width:65%;
  float:right;
  font-size:14px;
  color:#000;
  padding-top:144px;
}


.article_tresc_prawa{
  line-height:1.2em;
}

.button {
  font-size:24px;
  color:#fff;
  height:52px;
  width:254px;
  background-color:#24baa0;
  border-radius:7px;
  text-align:center;
  line-height:52px;
  margin:20px auto 0 auto;
}

.top_button_gradient_left{
  position: absolute;
  left:0;
  top:267px;
  color: #27c7ab;
  font-size: 75px;
  font-family: 'ralewaylight';
}

.top_button_gradient_right{
  position: absolute;
  right:0;
  top:267px;
  color: #27c7ab;
  font-size: 75px;
  font-family: 'ralewaylight';

}

.article1 {
  position:relative;
}

.box1 {
display:inline-block;
  width:329px;
  height:225px;
  margin-top:28px;
  margin-right:6px;
  position: relative;
}

.boxes {
  position:relative;
}

.third_box {
  width:342px;
  height:254px;
  position:absolute;
  top:28px;
  right:0;
  border:1px solid #c2c2c2;
  margin-bottom:70px;
  font-size: 14px;
  line-height: 1.5em;
  padding:10px;
}

.image_strip_background{
  position: absolute;
  bottom: 14px;
  width:100%;
  height:62px;
  background-color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.image_strip_font{
  color:#000000;
  font-size: 14px;
  line-height: 4em;
  margin-left: 13px;
}

.image_green_stip{
  background-color:#24baa0;
  width:138px;
  height:7px;
  position: absolute;
  margin-left: 13px;
  bottom:25px;
}

.line_small {
  background-color:#27c7ab;
  margin-top:6px;
  margin-bottom:17px;
  height:7px;
  width:138px;
}

/*price*/
.price {
  height:724px;
  background-color:#f1f1f1;
  border:1px red solid;
  text-align: justify;
}

.price::after {
		content: "";
		width: 100%;
		height: 0;
		display: inline-block;
	}

/*priceboxes*/
.big_circle{
  border-radius: 100%;
  width:60px;
  height:60px;
  background-color: #ffffff;
  border: 1px solid #c2c2c2;
  position: relative;
}

.small_circle{
  border-radius: 100%;
  background-color: #c2c2c2;
  width:25px;
  height:25px;
  border: 1px solid #c2c2c2;
  position: absolute;
  top:17px;
  left:16px;
}

.big_circle_green{
  border-radius: 100%;
  width:60px;
  height:60px;
  background-color: #27c7ab;
  border: 1px solid #27c7ab;
  position: relative;
}

.small_circle_green{
  border-radius: 100%;
  width:25px;
  height:25px;
  background-color:#f9f9f9;
  border: 1px solid #f9f9f9;
  position: absolute;
  top:17px;
  left:16px;
}

.box_circle_container {
  position: absolute;
  top: -40px;
  left: 134px;
}

.price_boxes_container{
  margin-top: 115px;
}

.price_box1 {
  display:inline-block;
  width:329px;
  height:502px;
  background-color:#f9f9f9;
  border:2px solid #d6d5d5;
  float:left;
  position: relative;
}

.price_box2 {
  display:inline-block;
  margin-left:21px;
  margin-right:21px;
  width:329px;
  height:502px;
  background-color:#27c7ab;
  border:2px solid #27c7ab;
  position: relative;
}

.price_box3 {
  display:inline-block;
  width:329px;
  height:502px;
  background-color:#f9f9f9;
  border:2px solid #d6d5d5;
  float:right;
  position: relative;
}

.price_box_header {
  text-transform: uppercase;
  color:#27c7ab;
  font-size:26px;
}

.price_box_header2 {
  text-transform: uppercase;
  color:#ffffff;
  font-size:26px;
}

.price_box1_bottom {
  height:122px;
}

.pbm_table_szary {
  height:43px;
  background-color:#e4e4e4;
}

/*footer*/
footer {
  width:100%;
  height:654px;
  background-color:#ffffff;
}

/*footer left*/
.footer_part_header{
  font-size:22px;
  color:#000000;
  width:320px;
  line-height:2;
  border-bottom:8px solid #24baa0;
  margin-bottom:33px;
}

.section_contact_form_left {
  display:inline-block;
  float:left;
  position: relative;
  margin-top: 73px;
}

.footer_checkbox {
  border: 1px solid #27c7ab;
  padding: 3px;
  border-radius: 10px;
  display:inline-block;
}

.footer_copyright {
  color:#aeaeae;
  font-size:14px;
  position: absolute;
  margin-bottom: 0;
  margin-left:0;
  margin-top:83px;
}

/*footer right*/
.section_contact_form_right {
  font-size:14px;
  display:inline-block;
  float:right;
  width:35%;
  margin-top:133px;
}

.footer_img{
  margin-bottom: 38px;
  margin-left: 40px;
}

.footer_button_submit{
  font-size: 34px;
    color: #fff;
    height: 73px;
    width: 342px;
    background-color: #24baa0;
    border-radius: 7px;
    text-align: center;
    line-height: 73px;
    margin: 20px 0 0 0;
}

.footer_checkbox_text {
  display:inline-block;
  margin-left: 11px;
  color:#aeaeae;
  font-size:16px;
}
.icon_and_logo {
margin-top:94px;
}

.footer_ico {
  display:inline-block;
  float:left;
}

.footer_logo {
  color:#9b9b9b;
  font-size:20px;
  font-weight:200;
  float:right;
  line-height: 50px;
}

input {
  width:550px;
  height:66px;
  margin-bottom: 28px;
  border:1px solid #24baa0;
  font-size:33px;
  color:#aeaeae;
  font-family:'Realeway', Verdana, sans-serif;
  padding-left:18px;
}

textarea {
  width:550px;
  height:166px;
  margin-bottom: 28px;
  border:1px solid #24baa0;
  font-size:33px;
  color:#aeaeae;
  padding-left:18px;
  font-family:'Realeway', Verdana, sans-serif;
}
